<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}
            <div class="post-entry">
                <p> <a href="{% url 'post_edit' post.pk %}">+ Редактировать пост блога</a> </p>
                <p> <a href="{% url 'post_delete' post.pk %}">+ Удалить пост блога</a> </p>
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }}</p>
                <p>{{ post.body }}</p>
                <p>{{ post.email }}</p>
            </div>
        {% endblock content %}
</body>
</html>
